html {
  font-family: "Helvetica Neue",Helvetica,Arial
}

h1 {
  padding: 2rem;
}

h2 {
  text-align: center;
}

.main-container {
  display: flex;
}

.card {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
}

.card-title {
  font-size: 1.5em;
  margin: 15px;
}

.card-text {
  font-size: 1em;
}

.list-group {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
